/*------------------Colores-----------------------*/

:root {
  --usafa-blue: #13971a;
  --paradise-pink: #26547c;
  --orange-yellow: #ffd166;
  --caribean-green: #1f9232;
  --white: #fff;
  --black: #000;
}

/*-------------Estilos generales----------------*/

* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Formulario*/

input[type="button"] {
  background-color: var(--caribean-green);
  color: var(--white);
  border: none;
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
}

input[type="button"]:hover {
  cursor: pointer;
  background-color: #1e692b;
}

input[type="text"] {
  color: rgb(82, 82, 82);
}

input[type="text"],
form > select {
  padding-top: 3px;
  padding-bottom: 3px;
}

input[type="text"]:focus {
  border: 1px solid blue;
  color: #000;
}

/*-------------Estilos de cabecera--------------*/

#header {
  background-color: var(--usafa-blue);
  min-height: 100px;
  display: grid;
  align-content: center;
}

#header h1 {
  color: var(--white);
  text-align: center;
}

/*-----------------Estilos del contenido---------------------------*/

#content {
  display: grid;
  min-height: 60vh;
  justify-content: center;
  grid-template-rows: 1fr 2fr;
}

#content form {
  padding-top: 20px;
}

#content #input {
  margin-top: 10px;
  display: grid;
  align-content: center;
}

#content #output {
  border: 1px solid #000;
  padding: 20px;
  min-height: 200px;
  margin-bottom: 100px;
}

/*-------------------Estilos del pié de página--------------------*/

#footer {
  background-color: #45484b;
  min-height: 80px;
  display: grid;
  align-content: center;
}

#footer p {
  color: var(--white);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 1px 1px 1px var(--black);
}
